
.grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
  grid-row-gap:    20px;

  }
  .button {
    width: 50px;
  height: 50px;
  border-radius: 1px;;
    
    background-color: black;
  
    font-size: 20px;
    color: white;
    border: 2px;
    text-align: center;
  }

  .header>h1{
    align-items: center;
    font-family: sans-serif;
  }
